@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500);
@import "gray.min.css";

object {
    display: none;
}

html, body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: #222;
}

body {
    min-height: 100%;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

p {
    font-weight: 300;
}

#wrapper {
    background-color: #222;
    width: 100%;
    min-height: 100%;
    position: relative;
}

main {
    padding-bottom: 122px;
}

#loadingWindow {
    position: absolute;
    left: 0;
    right: 0;

    top: 45%;

    transform: translateY(-50%);

    text-align: center;

    display: none;
}

nav {
    z-index: 1;

    border-top: 3px dotted #333;

    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
}

nav ul li {
    padding: 20px 0;

    font-weight: 300;
    color: #fff;
    display: inline-block;
    width: 25%;
    font-size: 20px;
    text-align: center;

    transition: background 300ms ease;
}

nav ul li:hover {
    background-color: #282828;
}

nav ul li.active {
    /*border-left: 3px dotted #333;
    border-right: 3px dotted #333;*/
}

.row.bio {
    font-weight: 300;
    padding: 30px 0;
}

.row.bio p{
    font-size: 18px;
}

#contactCont {
    text-align: center;

    font-weight: 100;

    color: #fff;
}