@font-face {
  font-family: "SF Mono";
  font-weight: 300;
  src: url('./fonts/SFMono-Light.otf')
}

@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  src: url('./fonts/SFMono-Regular.otf')
}

@font-face {
  font-family: "SF Mono";
  font-weight: 500;
  src: url('./fonts/SFMono-Medium.otf')
}

@font-face {
  font-family: "SF Mono";
  font-weight: 600;
  src: url('./fonts/SFMono-Semibold.otf')
}

@font-face {
  font-family: "SF Mono";
  font-weight: 700;
  src: url('./fonts/SFMono-Bold.otf')
}

@font-face {
  font-family: "SF Mono";
  font-weight: 800;
  src: url('./fonts/SFMono-Heavy.otf')
}